<div class="wrapper">
  <h3> Administration </h3>
  <div class="user-search">
    <div class='myDropper'>
      <input type='text' id='filterInput' placeholder="search User" (keyup)='filterUser()'>
      <button class='update-list' (click)='refreshUserList()'>Refresh users</button>
      <div class='search-wrapper'>
        <div class='user-from-list' *ngFor='let user of users; let i = index' [attr.data-index]='i' (click)='activeUser($event)'>
          <p>Name of user: {{ user.username }}</p>
          <p>Birthday: {{ user.dateOfBirth }}</p>
          <p>Last notification: {{ user.dateOfNextNotification }}</p>
          <p>Description: {{ user.information }} </p>
          <p>Date of login: {{ user.dateOfFirstLogin }} </p>
        </div>
      </div>
    </div>
  </div>
  <div class="change-area">
    <div>
      <h3>If you want change user data, or add new user, use this form</h3>
      <form [formGroup]="userForm" id="adminForm">
        <label>
          <p>Id:</p>
          <input type="text" formControlName="id" id='id'>
        </label>
        <label>
          <p>User name:</p>
          <input type="text" formControlName="username" id='name' placeholder='Name of user'>
        </label>
        <label>
          <p>Password:</p>
          <input type="text" formControlName="password" id='password' placeholder='User password'>
        </label>
        <label>
          <p>Date of Birthday:</p>
          <input type="text" formControlName="dateOfBirth" id='birthday' placeholder="YYYY/MM/DD">
        </label>
        <label>
          <p>Date of first login:</p>
          <input type="text" formControlName="dateOfFirstLogin" id="dateOfLogin" placeholder="DD MMMM YYYY">
        </label>
        <label>
          <p>Date of next notification:</p>
          <input type="text" formControlName="dateOfNextNotification" id="dateOfNotification" placeholder="DD-MMM-YY">
        </label>
        <label>
          <p>Information:</p>
          <input type="text" formControlName="information" id="information" placeholder="some describe user">
        </label>
        <label>
          <p>Role: </p>
          <input list="CsRole" formControlName="role" id="role" placeholder="role of user">
          <datalist id='CsRole'>
            <option value="admin">
            <option value="user">
          </datalist>
        </label>
        <div class="buttonGr">
          <button *ngIf='newUser' type="submit" (click)='createUser()' class="newBtn">New user</button>
          <button *ngIf='changedUser' type="submit" (click)='editUser()' class="editBtn">Edit user</button>
          <button *ngIf='changedUser' type="submit" (click)='deleteUser()' class="deleteBtn">Delete user</button>
        </div>
      </form>
    </div>
  </div>
</div>
