<div class="wrapper">
  <h1>
    {{ title }}
  </h1>
  <div class="input-area">
    <app-inputs></app-inputs>
  </div>
  <div class="storage-area">
    <div class="greeting-form">
      <h3> Hello, <span class="name-value"></span>!</h3>
      <p class="info">You're <span class="age-value"></span> years old, and it's enough to use our service</p>
      <p class="info">You're was born: <span class="date-of-birdth-value"></span></p>
      <p class="info">Date of login: <span class="date-of-login-value"></span></p>
      <p class="info">Date of notification: <span class="date-of-notification-value"></span></p>
    </div>
  </div>
</div>
